streamlit==1.32.0
requests
python-dotenv
openai
pandas
numpy
matplotlib
seaborn
beautifulsoup4
langchain==0.0.267
langchain-community==0.0.8
pypdf
faiss-cpu
sentence-transformers
pdfplumber
chromadb
tiktoken
pysqlite3-binary
langgraph
